<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.qry.CommonMapper">
	<select id="getOrderReceive" resultType="nbct.com.cn.customerquery.entity.OrderReceive">
		select trim(cnnmvr) as cnnmvr,
		egnmvr,
		vscdcs,
		exvycs,
		dtcscs,
		tmcscs,
		dtldcs,
		tmldcs,
		lncdcs,
		remkcs,
		dtvccs
		from nbct.tcvccsp, nbct.tcvsvrp
		where tcvccsp.vscdcs = tcvsvrp.vscdvr
		and dtldcs >= #{dt}
		order by dtcscs, tmcscs, lncdcs
	</select>

	<select id="getYardTruckList" resultType="nbct.com.cn.customerquery.entity.YardTruck">
		select trnrwk,trcdwk,dttrwk,tmtrwk,ROUND(TO_NUMBER(SYSDATE -
		TO_DATE(dttrwk||LPAD(tmtrwk,6,'0'),'YYYY-MM-DD HH24:MI:SS')) * 24 *
		60) DelayMinutes
		from NBCT.TCJNWKP
		order by dttrwk desc,tmtrwk desc
	</select>
</mapper>