<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.qry.CommonMapper">
    <select id="getOrderReceive" resultType="nbct.com.cn.customerquery.entity.OrderReceive">
		select trim(cnnmvr) as cnnmvr,
		egnmvr,
		vscdcs,
		exvycs,
		dtcscs,
		tmcscs,
		dtldcs,
		tmldcs,
		lncdcs,
		remkcs,
		dtvccs
		from nbct.tcvccsp, nbct.tcvsvrp
		where tcvccsp.vscdcs = tcvsvrp.vscdvr
		and dtldcs >= #{dt}
		order by dtcscs, tmcscs, lncdcs
	</select>

    <select id="getYardTruckList" resultType="nbct.com.cn.customerquery.entity.YardTruck">
		select trnrwk,trcdwk,dttrwk,tmtrwk,
		DECODE(DTTRWK,0,'',DTTRWK || LPAD(TMTRWK, 6, '0')) INTIME,
		ROUND(TO_NUMBER(SYSDATE -TO_DATE(dttrwk||LPAD(tmtrwk,6,'0'),'YYYY-MM-DD HH24:MI:SS')) * 24 *
		60) DelayMinutes
		from NBCT.TCJNWKP
		order by dttrwk desc,tmtrwk desc
	</select>

	<select id="getCntrInCloseDateList" resultType="nbct.com.cn.customerquery.entity.CntrInCloseDate">
		SELECT TRIM(CNNMVR) cnname,TRIM(EGNMVR) engName,A.VSCDLP vscd,TRIM(A.VYEXLP)
		exvsvy,
		TO_DATE(A.BG,'YYYY-MM-DD HH24:MI:SS') startdate,TO_DATE(A.ed,'YYYY-MM-DD HH24:MI:SS') enddate
		FROM (
		select max(lpad(to_char(dtbilp), 8, '0') || lpad(to_char(tmbilp), 6, '0'))
		as bg,
		min(lpad(to_char(dteilp), 8, '0') || lpad(to_char(tmeilp), 6, '0')) as ed,
		vscdlp,
		vyexlp from NBCT.syvslpp
		where ((dtbilp between #{startdate} and #{enddate}) or (dteilp between #{startdate} and #{enddate}))
		group by vscdlp, vyexlp
		) A,NBCT.TCVSVRP
		WHERE VSCDLP=VSCDVR(+)
		order by vscdlp, vyexlp
	</select>

	<select id="getSailingDateNotices" resultType="nbct.com.cn.customerquery.entity.SailingDateNotice">
		select lncd,cnvsname,engvsname,vscd, imvsvy,exvsvy,
		decode(realberthdate,0,null,to_char(TO_DATE(realberthdate||LPAD(realberthtime,6,'0'),'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) realberthdate,
		decode(realunberthdate,0,null,to_char(TO_DATE(realunberthdate||LPAD(realunberthtime,6,'0'),'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) realunberthdate,
		decode(cntrindate,0,null,to_char(TO_DATE(cntrindate||LPAD(cntrintime,6,'0'),'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) cntrindate,
		decode(cntroutdate,0,null,to_char(TO_DATE(cntroutdate||LPAD(cntrouttime,6,'0'),'YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) cntroutdate,
		decode(estberthdate,0,null,to_char(TO_DATE(estberthdate||LPAD(estberthtime,4,'0')||'00','YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) estberthdate,
		decode(estunberthdate,0,null,to_char(TO_DATE(estunberthdate||LPAD(estunberthtime,4,'0')||'00','YYYY-MM-DD HH24:MI:SS'),'YYYY-MM-DD HH24:MI:SS')) estunberthdate,
		decode(pubdate,0,null,to_char(TO_DATE(pubdate,'YYYY-MM-DD'),'YYYY-MM-DD')) pubdate,
		btno
		from (select c.lncdvr as lncd,
		trim(c.cnnmvr) as cnvsname,
		trim(c.egnmvr) as engvsname,
		a.vscdvy as vscd,
		trim(a.vsvyvy) as imvsvy,
		trim(b.exvyre) as exvsvy,

		a.dtabvy as realberthdate,
		a.tmabvy as realberthtime,
		a.dtdpvy as realunberthdate,
		a.tmdpvy as realunberthtime,

		a.dtbivy as cntrindate,
		a.tmbivy as cntrintime,
		a.dteivy as cntroutdate,
		a.tmeivy as cntrouttime,

		d.ibdt as estberthdate,
		d.ibtm as estberthtime,
		d.obdt as estunberthdate,
		d.obtm as estunberthtime,

		d.dtpub as pubdate,
		d.tmpub as pubtime,

		trim(btno) btno,
		inst,

		a.dteavy,
		a.tmeavy,
		e.ardt,
		e.artm,
		a.dtarvy,
		a.tmarvy

		from nbct.tcvsvyp a,
		nbct.tcvyrep b,
		nbct.tcvsvrp c,
		(select x.pepldt,
		x.vscd,
		x.vsvyim,
		x.vsvyex,
		x.ibdt,
		x.ibtm,
		x.obdt,
		x.obtm,
		x.dttr dtpub,
		x.dttm tmpub,
		inst,
		x.btno
		from vplan.prepln x,
		(select max(pepldt) pepldt, vscd, vsvyim, vsvyex
		from vplan.prepln
		where ((ibdt >= #{startdate}) or (obdt >= #{enddate})) and (substr(inst, 1,1) = '1')
		group by vscd, vsvyim, vsvyex, inst) y
		where x.pepldt = y.pepldt
		and x.vscd = y.vscd
		and x.vsvyim = y.vsvyim
		and x.vsvyex = y.vsvyex
		and x.vsno = 0
		and substr(x.inst, 1, 1) = '1') d,

		(select x.PERPDT, x.vscd, x.vsvyim, x.vsvyex, x.ardt, x.artm

		from vplan.prerep x,
		(select max(PERPDT) PERPDT, vscd, vsvyim, vsvyex
		from vplan.prerep
		where (ardt >= #{startdate})
		group by vscd, vsvyim, vsvyex) y
		where x.PERPDT = y.PERPDT
		and x.vscd = y.vscd
		and x.vsvyim = y.vsvyim
		and x.vsvyex = y.vsvyex) e

		where b.vscdre = a.vscdvy
		and b.imvyre = a.vsvyvy
		and a.vsdrvy = 'I'
		and c.vscdvr = a.vscdvy
		and d.vscd(+) = b.vscdre
		and d.vsvyim(+) = b.imvyre
		and d.vsvyex(+) = b.exvyre
		and e.vscd(+) = b.vscdre
		and e.vsvyim(+) = b.imvyre
		and e.vsvyex(+) = b.exvyre

		and (a.vscdvy not in (select vscdvs from nbct.tctrvsp)))
		where ((realberthdate between #{startdate} and #{enddate}) or
		(dteavy between #{startdate} and #{enddate}) or
		(dtarvy between #{startdate} and #{enddate}) or
		(cntrindate between #{startdate} and #{enddate}) or
		(cntroutdate between #{startdate} and #{enddate}) or
		(realunberthdate between #{startdate} and #{enddate}) or
		(estberthdate between #{startdate} and #{enddate}) or
		(estunberthdate between #{startdate} and #{enddate}) or
		(ardt between #{startdate} and #{enddate}))
		and substr(inst, 1, 1) = '1'
		order by dteavy, tmeavy
	</select>

	<select id="getImCustomPassInfo" resultType="nbct.com.cn.customerquery.entity.ImCustomPassInfo">
		SELECT CTPFCO CTPF,CTNRCO CTNR,CTCKCO CTCK,VSCDCO VSCD,TRIM(VSVYCO) VSVY,VSDRCO
	    VSDR,INFECO INFE,INTDCO INTD,YDSTCO YDST,YDRWCO YDRW,YDLNCO YDLN,
		TRIM (CAPSIM) CAPS,
		(SELECT TRIM(CNNMVR) FROM NBCT.TCVSVRP WHERE VSCDVR=VSCDCO) VSCN,
		(SELECT to_char(wm_concat(TRIM(CABLMF))) CABL
		 FROM TCBLMFP WHERE
		CTPFMF=CTPFCO AND CTNRMF=CTNRCO) CABL,
		(SELECT DECODE(YDTYRD,'ST','港区堆场','NS','港区堆场(非标)','外堆场') FROM NBCT.TCYARDP
		WHERE YDSTRD=YDSTCO) YARDCN
		FROM NBCT.TCMSCOP,NBCT.CUSTIMP
		WHERE TRIM(CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO) = #{cntrId}
		AND CTPFCO=CTPFIM(+) AND CTNRCO=CTNRIM(+) AND CTCKCO=CTCKIM(+)
		AND VSCDCO=VSCDIM(+) AND VSVYCO=VSVYIM(+) AND VSDRCO=VSDRIM(+)
		AND ROWNUM=1
	</select>

	<select id="getExPortPassInfo" resultType="nbct.com.cn.customerquery.entity.ExPortPassInfo">
		SELECT CTPFCO CTPF,CTNRCO CTNR,CTCKCO CTCK,VSCDCO VSCD,TRIM(VSVYCO)
		VSVY,VSDRCO VSDR,INFECO INFE,INTDCO INTD,YDSTCO YDST,YDRWCO
		YDRW,YDLNCO YDLN,TRIM(PTDSCO) PTDS,
		(SELECT TRIM(CNNMVR) FROM NBCT.TCVSVRP WHERE VSCDVR=VSCDCO) VSCN,
		(SELECT to_char(wm_concat(TRIM(CABLMF))) cabl FROM TCBLMFP WHERE
		CTPFMF=CTPFCO AND CTNRMF=CTNRCO) CABL,
		(SELECT DECODE(YDTYRD,'ST','港区堆场','NS','港区堆场(非标)','外堆场') FROM NBCT.TCYARDP
		WHERE YDSTRD=YDSTCO) YARDCN,DECODE(CTPFCC,NULL,'N','Y') ISPORTPASS
		FROM NBCT.TCMSCOP,NBCT.TCEXCCP
		WHERE TRIM(CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO) = #{cntrId}
		AND CTPFCO=CTPFCC(+) AND CTNRCO=CTNRCC(+) AND CTCKCO=CTCKCC(+)
		AND VSCDCO=VSCDCC(+) AND VSVYCO=VSVYCC(+)
		AND ROWNUM=1
	</select>

	<select id="getCheckMoveCtnrInfo" resultType="nbct.com.cn.customerquery.entity.CheckMoveCtnrInfo">
		SELECT CTPFCO CTPF,CTNRCO CTNR,CTCKCO CTCK,VSCDCO VSCD,TRIM(VSVYCO)
		VSVY,VSDRCO VSDR,
		(SELECT TRIM(CNNMVR) FROM NBCT.TCVSVRP WHERE VSCDVR=VSCDCO) VSCN,
		(SELECT DECODE(YDTYRD,'ST','港区堆场','NS','港区堆场(非标)','外堆场') FROM NBCT.TCYARDP
		WHERE YDSTRD=YDSTCO) YARDCN,
		CSSTCK CKYARD,(SELECT TRIM(SYC3TB) FROM SYCDTBP WHERE SYCDTB='TCCKYD' AND
		SYIDTB=CSSTCK) CKYARDCN,
		SUBSTR(INSTCK,1,1) CKSTATUS,NVL(CKNOCK,0) CKNO,
		(SELECT COUNT(*) FROM NBCT.JDFECKP WHERE CTPFCK=CTPFCO AND CTNRCK=CTNRCO AND
		CTCKCK=CTCKCO AND IYIDCK=IYIDCO AND IFFECK='Y') FEENUM
		FROM NBCT.TCMSCOP,NBCT.TCIECKP
		WHERE TRIM(CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO) = #{cntrId}
		AND CTPFCO=CTPFCK(+) AND CTNRCO=CTNRCK(+) AND CTCKCO=CTCKCK(+)
		AND VSCDCO=VSCDCK(+) AND VSVYCO=VSVYCK(+) AND VSDRCO=VSDRCK(+)
		AND ROWNUM=1
	</select>


	<select id="getEmptyContainer" resultType="nbct.com.cn.customerquery.entity.EmptyContainer">
		SELECT CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO CNTRID,VSCDCO,VSVYCO,VSDRCO,CTSZCO,CTTYCO,INDMCO,LNCDCO,
		YDSTCO,YDLNCO,YDRWCO,YDELCO,CTGWCO,DECODE(SUBSTR(INSTCO,20,1),'1','Y','N') INJT,
		(SELECT IYDTIF || LPAD(IYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE IYVSCDIF=VSCDCO AND IYVSVYIF=VSVYCO AND CTPFIF=CTPFCO AND CTNRIF=CTNRCO AND CTCKIF=CTCKCO AND ROWNUM=1) INTIME
		FROM NBCT.TCMSCOP
		WHERE LNCDCO=#{lncd} AND INFECO ='E' AND CTTYCO LIKE #{ctty}||'%'
		ORDER BY VSCDCO,VSVYCO,VSDRCO,CTPFCO,CTNRCO,CTCKCO
	</select>

  <select id="getSycds" resultType="nbct.com.cn.customerquery.entity.Sycdtbp">
    select syidtb,sydstb,sycotb,syc1tb,syc2tb,syc3tb,syc4tb,syc5tb
    from Sycdtbp
    where sycdtb = #{sycd}
    and syidtb <![CDATA[!= ]]>  #{sycd}
  </select>
</mapper>