<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.qry.VoyageContainerMapper">
	<select id="getVoyageList" resultType="nbct.com.cn.customerquery.entity.Voyage">
		SELECT VSCDVY,VSVYVY,VSDRVY,EGNMVR,CNNMVR,LNCDVR FROM NBCT.TCVSVYP,NBCT.TCVSVRP
		WHERE VSCDVY=VSCDVR
		AND VSDRVY=#{vsdr}
		<if test="lncd == '' and vsvy==''">
			AND DTEAVY>to_number(to_char(SYSDATE-7,'YYYYMMDD'))
		</if>
		<if test="lncd == '' and vsvy!=''">
			AND TRIM (VSVYVY)=#{vsvy}
		</if>
		<if test="lncd != '' and vsvy==''">
			AND TRIM (LNCDVR)=#{lncd}
			AND DTEAVY>to_number(to_char(add_months(trunc(sysdate),-1),'YYYYMMDD'))
		</if>
		<if test="lncd != '' and vsvy!=''">
			AND TRIM (LNCDVR)=#{lncd}
			AND TRIM (VSVYVY)=#{vsvy}
		</if>
		AND ROWNUM&lt;=50

		ORDER BY DTEAVY DESC
	</select>

	<!--船公司进口箱列表 lncd<>''显示本身及下属船公司的箱号 lncd=''显示本航次所有箱号-->
	<!--排序：空，默认ISPASS/PORT港口/LNCD箱主/CTSZ尺寸/ISPASS按扣留/放行-->
	<select id="getImContainerList" resultType="nbct.com.cn.customerquery.entity.ImContainer">
		SELECT * FROM (
		SELECT TRIM(VSCDST) VSCD,TRIM(VSVYST) VSVY,VSDRST VSDR,CTPFST CTPF,CTNRST CTNR,CTCKST CTCK,TRIM(CNTRID) CNTRID,
		CTSZST CTSZ,CTTYST CTTY,CTGWST CTGW,INFEST INFE,INOGST INOG,INTHST INTH,INHZST INHZ,INDMST INDM,INTDST INTD,TRIM(LNCDST) LNCD,TRIM(PTDSST) PTDS,
		DECODE(ISTRCT,'Y','N',INTSST) INTS,
		(SELECT TRIM(CTSNMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDST AND VSVYMF=VSVYST AND CTPFMF=CTPFST AND CTNRMF=CTNRST AND CTCKMF=CTCKST AND ROWNUM=1) CTSN,
		(SELECT TRIM(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDST AND VSVYMF=VSVYST AND CTPFMF=CTPFST AND CTNRMF=CTNRST AND CTCKMF=CTCKST AND ROWNUM=1) CABL,
		(SELECT COUNT(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDST AND VSVYMF=VSVYST AND CTPFMF=CTPFST AND CTNRMF=CTNRST AND
		CTCKMF=CTCKST) CABLNUM,
		(SELECT HZCLHZ FROM NBCT.TCIVHZP WHERE VSCDHZ=VSCDST AND VSVYHZ=VSVYST AND CTPFHZ=CTPFST AND CTNRHZ=CTNRST AND
		CTCKHZ=CTCKST AND ROWNUM=1) HZCLHZ,
		DECODE((SELECT COUNT(*) FROM NBCT.TCEXCCP WHERE VSCDCC=VSCDST AND VSVYCC=VSVYST AND CTPFCC=CTPFST AND
		CTNRCC=CTNRST AND CTCKCC=CTCKST),0,'H','R') ISPORTPASS,
		DECODE((SELECT COUNT(*) FROM NBCT.TCCTIFP WHERE CNTRIF=CTPFST||LPAD(CTNRST,6,'0')||CTCKST AND ((IYVSCDIF=VSCDST
		AND IYVSVYIF=VSVYST) OR (OYVSCDIF=VSCDST AND OYVSVYIF=VSVYST)) AND SUBSTR(FLAGIF,5,1)='Y'),0,'N','Y') ISNZWCT,
		(SELECT IYDTIF || LPAD(IYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE IYVSCDIF=VSCDST AND IYVSVYIF=VSVYST AND
		CTPFIF=CTPFST AND CTNRIF=CTNRST AND CTCKIF=CTCKST AND ROWNUM=1) INTIME,
		(SELECT OYDTIF || LPAD(OYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE OYVSCDIF=VSCDST AND OYVSVYIF=VSVYST AND
		CTPFIF=CTPFST AND CTNRIF=CTNRST AND CTCKIF=CTCKST AND ROWNUM=1) OUTTIME
		FROM (
		SELECT
		VSCDST,VSVYST,VSDRST,CTPFST,CTNRST,CTCKST,CTPFST||LPAD(CTNRST,6,'0')||CTCKST CNTRID,
		CTSZST,CTTYST,CTGWST,INFEST,INOGST,INTHST,INHZST,INDMST,INTSST,INTDST,LNCDST,PTDSST,
		f_is_trct(VSCDST,VSVYST,VSDRST,CTPFST||LPAD(CTNRST,6,'0')||CTCKST) ISTRCT
		FROM NBCT.TCVSSTP
		WHERE TRIM (VSCDST)=#{vscd} AND TRIM (VSVYST)=#{vsvy} AND VSDRST=#{vsdr}
		<if test="lncd != ''">
			AND TRIM (LNCDST) IN (SELECT TRIM(SYIDTB) FROM NBCT.SYCDTBP WHERE SYCDTB='TCTBVO' AND (TRIM(SYIDTB)=#{lncd}
			OR TRIM(SYC2TB)=#{lncd}))
		</if>
		AND (INSTST IS NULL OR SUBSTR(INSTST,2,1)='0' OR SUBSTR(INSTST,2,1)=' ')
		)
		)
		<if test="ordertype== ''||ordertype=='ISPASS'">
			ORDER BY ISPORTPASS,CTSZ
		</if>
		<if test="ordertype== 'PORT'">
			ORDER BY PTDS,LNCD,CTSZ
		</if>
		<if test="ordertype== 'LNCD'">
			ORDER BY LNCD,CTSZ,CNTRID
		</if>
		<if test="ordertype== 'CTSZ'">
			ORDER BY CTSZ,LNCD,CNTRID
		</if>
	</select>

	<!-- 船舶经营人代码-->
	<select id="getCrcd" resultType="String">
		SELECT TRIM(CRCDVR) CRCD FROM TCVSVRP WHERE TRIM(VSCDVR)=#{vscd} and rownum = 1
	</select>

	<!-- 船公司的母公司代码-->
	<select id="getParentLncd" resultType="String">
		SELECT TRIM(SYC2TB) LNCD FROM NBCT.SYCDTBP WHERE SYCDTB='TCTBVO' AND TRIM(SYIDTB)=#{lncd} and rownum = 1
	</select>

	<!--出口箱列表-未装船 lncd<>''显示本身及下属船公司的箱号 lncd=''显示本航次所有箱号-->
	<!--排序：空，默认ISPASS/PORT港口/LNCD箱主/CTSZ尺寸/ISPASS按扣留/放行-->
	<select id="getExContainerListInYard" resultType="nbct.com.cn.customerquery.entity.ExContainer">
		SELECT * FROM (
		SELECT VSCD,VSVY,VSDR,CTPF,CTNR,CTCK,CNTRID,
		CTSZ,CTTY,CTGW,CTSN,LNCD,PTDS,
		INFE,INOG,INTH,INHZ,INDM,INTD,ISTRCT,
		DECODE(ISTRCT,'Y','N',INTS) INTS,
		(SELECT TRIM(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCD AND VSVYMF=VSVY AND CTPFMF=CTPF AND CTNRMF=CTNR AND CTCKMF=CTCK AND ROWNUM=1) CABL,
		(SELECT COUNT(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCD AND VSVYMF=VSVY AND CTPFMF=CTPF AND CTNRMF=CTNR AND CTCKMF=CTCK) CABLNUM,
		(SELECT HZCLHZ FROM NBCT.TCIVHZP WHERE VSCDHZ=VSCD AND VSVYHZ=VSVY AND CTPFHZ=CTPF AND CTNRHZ=CTNR AND CTCKHZ=CTCK AND ROWNUM=1) HZCLHZ,
		DECODE((SELECT COUNT(*) FROM NBCT.TCEXCCP WHERE VSCDCC=VSCD AND VSVYCC=VSVY AND CTPFCC=CTPF AND CTNRCC=CTNR AND CTCKCC=CTCK),0,'H','R') ISPORTPASS,
		(SELECT DTTRCC || LPAD(TMTRCC, 6, '0') FROM NBCT.TCEXCCP WHERE VSCDCC=VSCD AND VSVYCC=VSVY AND CTPFCC=CTPF AND CTNRCC=CTNR AND CTCKCC=CTCK AND ROWNUM=1) PASSTIME,
		DECODE((SELECT COUNT(*) FROM NBCT.TCCTIFP WHERE CNTRIF=CNTRID AND ((IYVSCDIF=VSCD AND IYVSVYIF=VSVY) OR (OYVSCDIF=VSCD AND OYVSVYIF=VSVY)) AND SUBSTR(FLAGIF,5,1)='Y'),0,'N','Y') ISNZWCT,
		(SELECT TTWTWT-TRWTWT FROM NBCT.TCTRWTP WHERE VSCDWT=VSCD AND VSVYWT=VSVY AND CTPFWT=CTPF AND CTNRWT=CTNR AND CTCKWT=CTCK AND ROWNUM=1) TRWT,
		(SELECT INTWWT FROM NBCT.TCTRWTP WHERE VSCDWT=VSCD AND VSVYWT=VSVY AND CTPFWT=CTPF AND CTNRWT=CTNR AND CTCKWT=CTCK AND ROWNUM=1) INTW,
		DECODE((SELECT COUNT(*) FROM NBCT.TCIECKP WHERE VSCDCK=VSCD AND VSVYCK=VSVY AND CTPFCK=CTPF AND CTNRCK=CTNR AND CTCKCK=CTCK AND ROWNUM=1),0,'N','Y') ISCK,
		(SELECT f_is_trct_jt(VSCD,VSVY,VSDR,CNTRID) ISSRT FROM DUAL) ISSRT,
		(SELECT IYDTIF || LPAD(IYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE IYVSCDIF=VSCD AND IYVSVYIF=VSVY AND CTPFIF=CTPF AND CTNRIF=CTNR AND CTCKIF=CTCK AND ROWNUM=1) INTIME,
		(SELECT OYDTIF || LPAD(OYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE OYVSCDIF=VSCD AND OYVSVYIF=VSVY AND CTPFIF=CTPF AND CTNRIF=CTNR AND CTCKIF=CTCK AND ROWNUM=1) OUTTIME
		FROM (
		SELECT
		VSCDCO VSCD,VSVYCO VSVY,VSDRCO VSDR,CTPFCO CTPF,CTNRCO CTNR,CTCKCO CTCK,CTPFCO||LPAD(CTNRCO,6,'0')||TRIM(CTCKCO) CNTRID,
		CTSZCO CTSZ,CTTYCO CTTY,CTGWCO CTGW,TRIM(CTSNCO) CTSN,LNCDCO LNCD,TRIM(PTDSCO) PTDS,
		INFECO INFE,INOGCO INOG,INTHCO INTH,INHZCO INHZ,INDMCO INDM,INTDCO INTD,INTSCO INTS,
		f_is_trct(VSCDCO,VSVYCO,VSDRCO,CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO) ISTRCT
		FROM NBCT.TCMSCOP
		WHERE TRIM (VSCDCO)=#{vscd} AND TRIM (VSVYCO)=#{vsvy} AND VSDRCO=#{vsdr}

		<if test='usertype=="V" and lncd!=""'>
			AND TRIM (LNCDCO) IN (SELECT TRIM(SYIDTB) FROM NBCT.SYCDTBP WHERE SYCDTB='TCTBVO' AND (TRIM(SYIDTB)=#{lncd} OR TRIM(SYC2TB)=#{lncd}))
		</if>
		<if test='usertype=="H" and caag!=""'>
			AND TRIM (CAAGCO)=#{caag}
		</if>
		)
		)
		<if test="ordertype== ''||ordertype=='ISPASS'">
			ORDER BY ISPORTPASS,PTDS,CTSZ
		</if>
		<if test="ordertype== 'PORT'">
			ORDER BY PTDS,LNCD,CTSZ
		</if>
		<if test="ordertype== 'LNCD'">
			ORDER BY LNCD,CTSZ,CNTRID
		</if>
		<if test="ordertype== 'CTSZ'">
			ORDER BY CTSZ,LNCD,CNTRID
		</if>


	</select>

	<!--出口箱列表-已装船 lncd<>''显示本身及下属船公司的箱号 lncd=''显示本航次所有箱号-->
	<!--排序：空，默认ISPASS/PORT港口/LNCD箱主/CTSZ尺寸/ISPASS按扣留/放行-->
	<select id="getExContainerListInShip" resultType="nbct.com.cn.customerquery.entity.ExContainer">
		SELECT * FROM (
		SELECT VSCD,VSVY,VSDR,CTPF,CTNR,CTCK,CNTRID,
		CTSZ,CTTY,CTGW,CTSN,LNCD,PTDS,VSBA,VSCL,VSEL,
		INFE,INOG,INTH,INHZ,INDM,INTD,ISTRCT,
		DECODE(ISTRCT,'Y','N',INTS) INTS,
		(SELECT TRIM(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCD AND VSVYMF=VSVY AND CTPFMF=CTPF AND CTNRMF=CTNR AND CTCKMF=CTCK AND ROWNUM=1) CABL,
		(SELECT COUNT(CABLMF) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCD AND VSVYMF=VSVY AND CTPFMF=CTPF AND CTNRMF=CTNR AND CTCKMF=CTCK) CABLNUM,
		(SELECT HZCLHZ FROM NBCT.TCIVHZP WHERE VSCDHZ=VSCD AND VSVYHZ=VSVY AND CTPFHZ=CTPF AND CTNRHZ=CTNR AND CTCKHZ=CTCK AND ROWNUM=1) HZCLHZ,
		DECODE((SELECT COUNT(*) FROM NBCT.TCEXCCP WHERE VSCDCC=VSCD AND VSVYCC=VSVY AND CTPFCC=CTPF AND CTNRCC=CTNR AND CTCKCC=CTCK),0,'H','R') ISPORTPASS,
		(SELECT DTTRCC || LPAD(TMTRCC, 6, '0') FROM NBCT.TCEXCCP WHERE VSCDCC=VSCD AND VSVYCC=VSVY AND CTPFCC=CTPF AND CTNRCC=CTNR AND CTCKCC=CTCK AND ROWNUM=1) PASSTIME,
		DECODE((SELECT COUNT(*) FROM NBCT.TCCTIFP WHERE CNTRIF=CNTRID AND ((IYVSCDIF=VSCD AND IYVSVYIF=VSVY) OR (OYVSCDIF=VSCD AND OYVSVYIF=VSVY)) AND SUBSTR(FLAGIF,5,1)='Y'),0,'N','Y') ISNZWCT,
		(SELECT TTWTWT-TRWTWT FROM NBCT.TCTRWTP WHERE VSCDWT=VSCD AND VSVYWT=VSVY AND CTPFWT=CTPF AND CTNRWT=CTNR AND CTCKWT=CTCK AND ROWNUM=1) TRWT,
		(SELECT INTWWT FROM NBCT.TCTRWTP WHERE VSCDWT=VSCD AND VSVYWT=VSVY AND CTPFWT=CTPF AND CTNRWT=CTNR AND CTCKWT=CTCK AND ROWNUM=1) INTW,
		DECODE((SELECT COUNT(*) FROM NBCT.TCIECKP WHERE VSCDCK=VSCD AND VSVYCK=VSVY AND CTPFCK=CTPF AND CTNRCK=CTNR AND CTCKCK=CTCK AND ROWNUM=1),0,'N','Y') ISCK,
		(SELECT f_is_trct_jt(VSCD,VSVY,VSDR,CNTRID) ISSRT FROM DUAL) ISSRT,
		(SELECT IYDTIF || LPAD(IYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE OYVSCDIF=VSCD AND OYVSVYIF=VSVY AND CTPFIF=CTPF AND CTNRIF=CTNR AND CTCKIF=CTCK AND ROWNUM=1) INTIME,OUTTIME
		FROM (
		SELECT
		VSCDEM VSCD,VSVYEM VSVY,VSDREM VSDR,CTPFEM CTPF,CTNREM CTNR,CTCKEM CTCK,CTPFEM||LPAD(CTNREM,6,'0')||TRIM(CTCKEM) CNTRID,
		CTSZEM CTSZ,CTTYEM CTTY,CTGWEM CTGW,TRIM(CTSNEM) CTSN,LNCDEM LNCD,TRIM(PTDSEM) PTDS,
		VSBAEM VSBA,VSCLEM VSCL,VSELEM VSEL,
		DTLDEM || LPAD(TMLDEM, 6, '0') OUTTIME,
		INFEEM INFE,INOGEM INOG,INTHEM INTH,INHZEM INHZ,INDMEM INDM,INTDEM INTD,INTSEM INTS,
		f_is_trct(VSCDEM,VSVYEM,VSDREM,CTPFEM||LPAD(CTNREM,6,'0')||CTCKEM) ISTRCT
		FROM NBCT.TCDLEMP
		WHERE TRIM (VSCDEM)=#{vscd} AND TRIM (VSVYEM)=#{vsvy} AND VSDREM=#{vsdr}
		AND OPCDEM IN ('EE','EF')

		<if test='usertype=="V" and lncd!=""'>
			AND TRIM (LNCDEM) IN (SELECT TRIM(SYIDTB) FROM NBCT.SYCDTBP WHERE SYCDTB='TCTBVO' AND (TRIM(SYIDTB)=#{lncd} OR TRIM(SYC2TB)=#{lncd}))
		</if>
		<if test='usertype=="H" and caag!=""'>
			AND TRIM (CAAGEM)=#{caag}
		</if>
		)
		)
		<if test="ordertype== ''||ordertype=='ISPASS'">
			ORDER BY ISPORTPASS,PTDS,CTSZ
		</if>
		<if test="ordertype== 'PORT'">
			ORDER BY PTDS,LNCD,CTSZ
		</if>
		<if test="ordertype== 'LNCD'">
			ORDER BY LNCD,CTSZ,CNTRID
		</if>
		<if test="ordertype== 'CTSZ'">
			ORDER BY CTSZ,LNCD,CNTRID
		</if>

	</select>

	<!-- 货代在场出口箱  排序：空，默认ISPASS/PORT港口/CNTRID箱号/VSVY船名航次/CTSZ尺寸/ISPASS按扣留/放行-->
	<select id="getExYardContainerListByCaag" resultType="nbct.com.cn.customerquery.entity.Container">
       SELECT * FROM (
		SELECT
		TRIM(VSCDCO) VSCD,TRIM(VSVYCO) VSVY,VSDRCO VSDR,CTPFCO CTPF,CTNRCO CTNR,CTCKCO CTCK,CTPFCO||LPAD(CTNRCO,6,'0')||CTCKCO CNTRID,
		TRIM(PTDSCO) PTDS,CTSZCO CTSZ,CTTYCO CTTY,CTGWCO CTGW,TRIM(CTSNCO) CTSN,
		DECODE(DTGICO,0,0,DTGICO || LPAD(TMGICO, 6, '0')) INTIME,
		DTGICO,TMGICO,LNCDCO,TRIM(CRCDVR) CRCD,TRIM(CNNMVR) VSCN,TRIM(EGNMVR) VSENG,
		(SELECT CABLMF FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDCO AND VSVYMF=VSVYCO AND CTPFMF=CTPFCO AND CTNRMF=CTNRCO AND CTCKMF=CTCKCO AND ROWNUM=1) CABLMF,
		DECODE((SELECT COUNT(*) FROM NBCT.TCEXCCP WHERE VSCDCC=VSCDCO AND VSVYCC=VSVYCO AND CTPFCC=CTPFCO AND CTNRCC=CTNRCO AND CTCKCC=CTCKCO),0,'H','R') ISPORTPASS
		FROM NBCT.TCMSCOP,NBCT.TCVSVRP
		WHERE VSDRCO='E' AND TRIM (CAAGCO)=#{caag}
		AND VSCDCO=VSCDVR
		)
		<if test="ordertype== ''||ordertype=='ISPASS'">
			ORDER BY VSCD,VSVY,ISPORTPASS
		</if>
		<if test="ordertype== 'PORT'">
			ORDER BY PTDS,VSCD,VSVY,CTSZ
		</if>
		<if test="ordertype== 'CNTRID'">
			ORDER BY CNTRID,VSCD,VSVY,PTDS,CTSZ
		</if>
		<if test="ordertype== 'VSVY'">
			ORDER BY VSCD,VSVY,PTDS,CTSZ
		</if>
		<if test="ordertype== 'CTSZ'">
			ORDER BY CTSZ,VSCD,VSVY,PTDS
		</if>
	</select>

</mapper>