<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.qry.VoyageContainerMapper">
	<select id="getVoyageList" resultType="nbct.com.cn.customerquery.entity.Voyage">
		SELECT VSCDVY,VSVYVY,VSDRVY,EGNMVR,CNNMVR,LNCDVR FROM NBCT.TCVSVYP,NBCT.TCVSVRP
		WHERE VSCDVY=VSCDVR
		AND VSDRVY=#{vsdr}
		<if test="lncd == '' and vsvy==''">
			AND DTEAVY>to_number(to_char(SYSDATE-7,'YYYYMMDD'))
		</if>
		<if test="lncd == '' and vsvy!=''">
			AND VSVYVY=#{vsvy}
		</if>
		<if test="lncd != '' and vsvy==''">
			AND LNCDVR=#{lncd}
			AND DTEAVY>to_number(to_char(add_months(trunc(sysdate),-1),'YYYYMMDD'))
		</if>
		<if test="lncd != '' and vsvy!=''">
			AND LNCDVR=#{lncd}
			AND VSVYVY=#{vsvy}
		</if>
		AND ROWNUM=50

		ORDER BY DTEAVY DESC
	</select>

	<select id="getImContainerList" resultType="nbct.com.cn.customerquery.entity.ImContainer">
		SELECT VSCDST,VSVYST,VSDRST,CTPFST,CTNRST,CTCKST,CNTRID,
		CTSZST,CTTYST,CTGWST,INFEST,INOGST,INTHST,INHZST,INDMST,INTDST,LNCDST,PTDSST,
		DECODE(ISTRCT,'Y','N',INTSST) INTSST,
		(SELECT CTSNMF FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDST AND VSVYMF=VSVYST AND CTPFMF=CTPFST AND CTNRMF=CTNRST AND CTCKMF=CTCKST AND ROWNUM=1) CTSNMF,
		(SELECT wmsys.wm_concat(TRIM(CABLMF)) FROM NBCT.TCBLMFP WHERE VSCDMF=VSCDST AND VSVYMF=VSVYST AND CTPFMF=CTPFST AND CTNRMF=CTNRST AND CTCKMF=CTCKST) CABLMF,
		(SELECT HZCLHZ FROM NBCT.TCIVHZP WHERE VSCDHZ=VSCDST AND VSVYHZ=VSVYST AND CTPFHZ=CTPFST AND CTNRHZ=CTNRST AND CTCKHZ=CTCKHZ AND ROWNUM=1) HZCLHZ,
		DECODE((SELECT COUNT(*) FROM NBCT.TCEXCCP WHERE VSCDCC=VSCDST AND VSVYCC=VSVYST AND CTPFCC=CTPFST AND CTNRCC=CTNRST AND CTCKCC=CTCKST),0,'H','R') ISPORTPASS,
		DECODE((SELECT COUNT(*) FROM NBCT.TCCTIFP WHERE CNTRIF=CTPFST||LPAD(CTNRST,6,'0')||CTCKST AND ((IYVSCDIF=VSCDST AND IYVSVYIF=VSVYST) OR (OYVSCDIF=VSCDST AND OYVSVYIF=VSVYST)) AND SUBSTR(FLAGIF,5,1)='Y'),0,'N','Y') ISNZWCT,
		(SELECT IYDTIF || LPAD(IYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE IYVSCDIF=VSCDST AND IYVSVYIF=VSVYST AND CTPFIF=CTPFST AND CTNRIF=CTNRST AND CTCKIF=CTCKST AND ROWNUM=1) INTIME,
		(SELECT OYDTIF || LPAD(OYTMIF, 6, '0') FROM NBCT.TCCTIFP WHERE OYVSCDIF=VSCDST AND OYVSVYIF=VSVYST AND CTPFIF=CTPFST AND CTNRIF=CTNRST AND CTCKIF=CTCKST AND ROWNUM=1) OUTTIME
		FROM (
		SELECT
		VSCDST,VSVYST,VSDRST,CTPFST,CTNRST,CTCKST,CTPFST||LPAD(CTNRST,6,'0')||CTCKST CNTRID,
		CTSZST,CTTYST,CTGWST,INFEST,INOGST,INTHST,INHZST,INDMST,INTSST,INTDST,LNCDST,PTDSST,
		f_is_trct(VSCDST,VSVYST,VSDRST,CTPFST||LPAD(CTNRST,6,'0')||CTCKST) ISTRCT
		FROM NBCT.TCVSSTP
		WHERE VSCDST=#{vscd} AND VSVYST=#{vsvy} AND VSDRST=#{vsdr}
		AND (INSTST IS NULL OR SUBSTR(INSTST,2,1)='0' OR SUBSTR(INSTST,2,1)=' ')
		)
		ORDER BY LNCDST,CTSZST,CNTRID
	</select>

</mapper>