<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.qry.YardContainerMapper">
	<select id="getYardContainers" resultType="nbct.com.cn.customerquery.entity.Container">
		select
		vscdco vscd,vsvyco vsvy,vsdrco vsdr,ctpfco ctpf,ctnrco ctnr,ctckco ctck,ctpfco||LPAD(ctnrco,6,'0')||ctckco cntrid
		 from tcmscop where rownum&lt;=100
	</select>
</mapper>