<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.web.LoginMapper">
	<select id="findUserById" resultType="nbct.com.cn.customerquery.entity.User">
		SELECT * FROM webuser
		where
		upper(userId)=#{userId} and password=#{password}
	</select>

	<insert id="userLoginInfo" parameterType="nbct.com.cn.customerquery.entity.UserLoginInfo">
		insert into weblogin
		(logId,userId,loginDt) values (#{logId},#{userId},#{loginDt})
	</insert>
</mapper>