<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.web.UserMapper">
    <insert id="addUser" parameterType="nbct.com.cn.customerquery.entity.User">
		insert into webuser
            (userId,userName,password,userType,groups,telphone,address,company,companyId,opUser,opDate)
		values 
            (#{userId},#{userName},#{password},#{userType},#{groups},#{telephone},#{address},#{company}
            ,#{companyId},#{opUser},#{opDate})
	</insert>
    <update id="updateUser" parameterType="nbct.com.cn.customerquery.entity.User">
        update webuser
        <set>
            <if test="password != ''">
                password = #{password},
                opUser = #{opUser},
                opDate = #{opDate}
            </if>
            <if test="password == ''">
                userName = #{userName},userType = #{userType},groups = #{groups},
                telephone = #{telephone},address = #{address},company = #{company},
                companyId = #{companyId},opUser = #{opUser},opDate = #{opDate}
            </if>
        </set>
        where userId = #{userId}
    </update>
    <delete id="deleteUser">
        delete from webuser
        where userId = #{userId}
    </delete>
</mapper>