<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nbct.com.cn.customerquery.mapper.web.UserMapper">
    <insert id="addUser" parameterType="nbct.com.cn.customerquery.entity.User">
		insert into webuser
            (userId,userName,password,userType,groups,telephone,address,company,companyId,opUser,opDate)
		values 
            (#{userId},#{userName},#{password},#{userType},
            #{groups},#{telephone},#{address},#{company}
            ,#{companyId},#{opUser},#{opDate})
	  </insert>
    <update id="updateUser" parameterType="nbct.com.cn.customerquery.entity.User">
        update webuser
        set  userName = #{userName},userType = #{userType},groups = #{groups},
             telephone = #{telephone},address = #{address},company = #{company},
             companyId = #{companyId},opUser = #{opUser},opDate = #{opDate}
        where userId = #{userId}
    </update>
    <update id="changeUserPassword" parameterType="nbct.com.cn.customerquery.entity.UserPasswordChange">
        update webuser
        set password = #{newPassword},
            opUser = #{opUser},
            opDate = #{opDate}

        where userId = #{userId}
        <if test="oldPassword != ''">
           and password = #{oldPassword}
        </if>            
    </update>
    <delete id="deleteUser">
        delete from webuser
        where userId = #{userId}
    </delete>
    <select id="getUser" resultType="nbct.com.cn.customerquery.entity.User">
      SELECT * FROM webuser
      where userId = #{userId}
	  </select>
    <select id="getUsers" resultType="nbct.com.cn.customerquery.entity.User">
      SELECT * FROM webuser
      order by lower(userId)
	  </select>

</mapper>